In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [11]:
data=pd.read_csv('banking.csv')
data.columns
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30,management,divorced,basic.4y,no,yes,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37,blue-collar,married,basic.4y,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39,blue-collar,divorced,basic.9y,no,yes,no,cellular,may,fri,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36,admin.,married,university.degree,no,no,no,cellular,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27,blue-collar,single,basic.4y,no,yes,no,cellular,apr,thu,...,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0
10,34,housemaid,single,university.degree,no,no,no,telephone,may,fri,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,0
11,41,management,married,university.degree,no,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,0
12,55,management,married,university.degree,no,no,no,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
13,33,services,divorced,high.school,no,yes,no,cellular,may,tue,...,5,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1,0
14,26,admin.,married,high.school,no,no,yes,telephone,jun,mon,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,0
15,52,services,married,high.school,unknown,yes,no,cellular,jul,thu,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
16,35,services,married,high.school,no,no,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
17,27,admin.,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-0.1,93.798,-40.4,4.860,5195.8,1
18,28,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
19,26,unemployed,single,basic.9y,no,yes,yes,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
20,41,unemployed,married,basic.9y,unknown,yes,no,telephone,apr,fri,...,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,0
21,35,blue-collar,single,unknown,no,no,yes,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
22,40,admin.,married,university.degree,unknown,yes,no,telephone,jul,wed,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
23,32,technician,single,professional.course,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,0
24,41,blue-collar,married,high.school,no,yes,yes,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
25,34,entrepreneur,single,university.degree,no,yes,no,cellular,may,tue,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,0
26,49,technician,divorced,unknown,no,yes,yes,cellular,oct,thu,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,0
27,37,admin.,married,high.school,no,yes,no,cellular,apr,thu,...,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1,0
28,35,blue-collar,married,basic.6y,unknown,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
29,38,blue-collar,single,basic.4y,unknown,no,no,telephone,jul,tue,...,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,30,services,married,high.school,unknown,unknown,unknown,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41159,47,admin.,divorced,high.school,unknown,no,no,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41160,57,management,divorced,university.degree,unknown,yes,yes,cellular,nov,thu,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,0
41161,43,blue-collar,married,high.school,unknown,no,no,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41162,43,self-employed,married,high.school,unknown,yes,no,cellular,apr,wed,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.445,5099.1,0
41163,22,blue-collar,single,basic.9y,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,0
41164,33,technician,single,professional.course,no,yes,no,cellular,aug,fri,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
41165,56,admin.,married,unknown,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
41166,31,admin.,married,unknown,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,0
41167,30,admin.,single,high.school,no,no,no,cellular,jul,wed,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
41168,29,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
41169,46,technician,married,basic.9y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41170,32,technician,single,university.degree,no,yes,yes,cellular,aug,thu,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1,0
41171,42,admin.,married,high.school,unknown,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,0
41172,27,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,wed,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1
41173,39,self-employed,married,high.school,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0
41174,49,entrepreneur,married,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,0
41175,46,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,tue,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41176,30,blue-collar,single,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,0
41177,52,self-employed,single,university.degree,unknown,yes,no,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41178,35,technician,married,high.school,no,no,no,telephone,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,1
41179,29,technician,single,basic.9y,no,yes,no,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,0
41180,44,services,married,high.school,unknown,yes,yes,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41181,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41182,24,admin.,married,high.school,no,yes,no,cellular,may,thu,...,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,0
41183,59,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [8]:
'''Variable Description'''
def description(df):
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.iloc[0].values
    summary['Second Value'] = df.iloc[1].values
    summary['Third Value'] = df.iloc[2].values
    return summary

In [12]:
description(data)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,age,int64,0,78,44,53,28
1,job,object,0,12,blue-collar,technician,management
2,marital,object,0,4,married,married,single
3,education,object,0,8,basic.4y,unknown,university.degree
4,default,object,0,3,unknown,no,no
5,housing,object,0,3,yes,no,yes
6,loan,object,0,3,no,no,no
7,contact,object,0,2,cellular,cellular,cellular
8,month,object,0,10,aug,nov,jun
9,day_of_week,object,0,5,thu,fri,thu
10,duration,int64,0,1544,210,138,339
11,campaign,int64,0,42,1,1,3
12,pdays,int64,0,27,999,999,6
13,previous,int64,0,8,0,0,2
14,poutcome,object,0,3,nonexistent,nonexistent,success
15,emp_var_rate,float64,0,10,1.4,-0.1,-1.7
16,cons_price_idx,float64,0,26,93.444,93.2,94.055
17,cons_conf_idx,float64,0,26,-36.1,-42,-39.8
18,euribor3m,float64,0,316,4.963,4.021,0.729
19,nr_employed,float64,0,11,5228.1,5195.8,4991.6
20,y,int64,0,2,0,0,1